{% extends 'base2.html' %} {% block title %}Password Changed successfully
{%endblock%} {% block breadcrumb %}
<li class="breadcrumb-item active">
  <strong>Done!</strong>
</li>
<li class="breadcrumb-item">
  <a href="{% url 'password_change' %}">change password</a>
</li>
{%endblock%} {% block content %}
<div class="alert alert-success" role="alert">
  Congratulations! Your Password has been changed successfully.
</div>
<div class="bg-light"><a href="{% url 'homepage' %}">Back To Home</a></div>
{% endblock %}
