{% extends 'base2.html' %} {% load static %} {%block title%} Login {%endblock%}
{%block stylesheet%}
<link rel="stylesheet" href="{% static 'css/account.css' %}" />
{%endblock%} {% block body %}
<div class="container">
  <h1 class="text-center logo my-4">
    <a href="{% url 'homepage' %}">Django Blogs</a>
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">LOGIN</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            {% include 'includes/form.html'%}
            <button type="submit" class="btn btn-primary btn-block">
              Login
            </button>
            {%if blog != None %}
            <div class="alert alert-danger">{{blog}}</div>
            {%endif%}
          </form>
          <br />
          <div class="card-footer text-light text-center">
            <strong>Create New acoount?!</strong>
            <strong> <a href="{% url 'signup' %}">Sign Up</a> </strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
